.app-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  height: 500px;
  width: 50vw;

  .app-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    > div {
      width: 100%;
    }
  }

  .logo {
    margin-bottom: 20px;
  }

  .control {
    margin-bottom: 50px;
    ::placeholder {
      color: #d6d8da;
    }
    .control__label {
      display: block;
      color: #797c80;
      margin-bottom: 5px;
    }
    .control__input {
      box-sizing: border-box;
      height: 32px;
      width: 100%;
      border: 1px solid #eaeaea;
      border-radius: 4px;
      padding-left: 10px;
    }
    .control__error {
      color: red;
    }
  }

  .divider {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #eeeeee;
  }

  .result-container {
    .result__row {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
      .result__label {
        font-size: 16px;
        color: #303133;
      }
      .result__value {
        color: #797c80;
      }
    }
  }
}
